:root{
    --colorPrincipal: #FFB303;
    --colorPrincipalOscuro: #a07000;
    --fondoNoche:#212121;
    --fondoDia:#c4c4c4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Oxanium", sans-serif;;
}
h1{
    font-size: clamp(5px,3.5vw,70px);
    color: white;
}
h2{
    font-size: clamp(4px,2.5vw,60px);
    color: white;
}
h3{
    font-size: clamp(4px,1.5vw,60px);
    color: white;
}
p{
    font-size: clamp(3px,1vw,40px);
    margin-bottom: 0;
}
a{
    font-size: clamp(3px,1.2vw,40px);
    color: white;
    text-decoration: none;
    margin-left: 1vw;
}
button{
    background-color: var(--colorPrincipal);
    padding: 1vw;
}
label{
    color: rgb(255, 255, 255);
    font-size: clamp(2px,1.5vw,50px);
}
#logo{
    width: 12vw;
}
.boton{
    padding: 1vw;
    font-weight: bold;
    color: black;
    background-color: var(--colorPrincipal);
}
.boton:hover{
    background-color: white;
    transition: all 0.5s linear;
}
.boton_inverso{
    padding: 1vw;
    font-weight: bold;
    color: black;
    background-color: white;
}
.boton_inverso:hover{
    background-color: var(--colorPrincipal);
    transition: all 0.5s linear;
}
.whatsapp{
    position: fixed;
    bottom: 1.5vw;
    right: 1.5vw;
    width: 2vw;
    transition: all 0.5s linear;
}
.whatsapp:hover{
    width: 3vw;
    transition: all 0.5s linear;
}
.social{
    width: 1vw;
    transition: all 0.5s linear;
}
.social:hover{
    width: 1.3vw;
    transition: all 0.5s linear;
}
.social1{
    position: fixed;
    left: 0vw;
    top: 10vw;
    width: 3.5vw;
    border-style: solid;
    border-radius: 0.5vw;
    background-color: var(--colorPrincipalOscuro);
    z-index: 1000;
}
.social3{
    position: fixed;
    left: 0vw;
    top: 12.5vw;
    width: 3.5vw;
    border-style: solid;
    border-radius: 0.5vw;
    background-color: var(--colorPrincipalOscuro);
    z-index: 1000;
}
.social4{
    position: fixed;
    left: 0vw;
    top: 15vw;
    width: 3.5vw;
    border-style: solid;
    border-radius: 0.5vw;
    background-color: var(--colorPrincipalOscuro);
    z-index: 1000;
}
.imagen{
    position:relative;
}
.sol{
    position:absolute;
    transition: all 0.5s linear;
    font-size: 1vw;
    top:0.5vw;
}
.luna{
    position:absolute;
    transition: all 0.5s linear;
    font-size: 1vw;
    top:0.5vw;
}
.modoDia{
    background-color: var(--fondoDia);
}
.modoNoche{
    background-color: var(--fondoNoche);
}
.linea{
    width: 10vw;
    height: 0.2vw;
    background-color: var(--colorPrincipal);
    margin-bottom: 2vw;
}
.campoCorrecto {
    border-color: rgb(0, 255, 0);
    background-color: rgb(200, 255, 200);
}
.campoIncorrecto {
    border-color: red;
    background-color: rgb(255, 200, 200);
}
.formulario{
    width: 60%;
    display: flex;
    justify-content: center;
}
#impresora2{
    margin-top: 2vw;
}
/*------------------------------- CABECERA ------------------------------*/
.cabecera__superior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5vw;
    background-color: var(--colorPrincipal);
}
.cabecera__superior__izquierda{
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
}
.cabecera__superior__derecha{
    display: flex;
    flex-direction: row;
    gap:2vw;
    margin-right: 2vw;
}
#cabecera__central{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    /* MENU PEGAJOSO */
    position: sticky;
    top: 0;
    z-index: 9999;
    box-shadow: 0px 5px 5px black;
}
#cabecera__central2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    /* MENU PEGAJOSO */
    position: sticky;
    top: 0;
    z-index: 9999;
    box-shadow: 0px 5px 5px black;
}
.cabecera__central__izquierda{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
.cabecera__central__centro{
    margin-left: auto;
    margin-right: auto;
}
.cabecera__central__derecha{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.icono{
    color: white;
    margin-right: 1vw;
    width: 1.5vw;
}
/*------------------------------- BANNER 1 ------------------------------*/
.banner1{
    position: relative;
    height: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.banner1__slide{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
}
.active{
    opacity: 1;
    transition: all 0.5s linear;
}
.banner1__slide img{
    position: absolute;
    width: 102%;
}
.banner1__centro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20vw;
    z-index: 999;
}
#anterior{
    color: white;
    font-size: clamp(3px,1.2vw,40px);
    margin-left: 2vw;
    z-index: 999;
}
#siguiente{
    color: white;
    font-size: clamp(3px,1.2vw,40px);
    margin-right: 2vw;
    z-index: 999;
}
/*------------------------------ BANNER 2 -------------------------------*/
#banner2{
    display: flex;
    flex-direction: column;
    padding-top: 10vw;
    padding-bottom: 5vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#banner22{
    display: flex;
    flex-direction: column;
    padding-top: 5vw;
    padding-bottom: 5vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ) 
    ,url(Imagenes/bann61.webp);
    background-size: cover;
}
input{
    height: 4vw !important;
    width: 25vw !important;
    margin: 0 auto;
}
.banner2__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    width: 80%;
    margin: 1vw auto;
}
.banner2__contenedor__tarjeta{
    width: 30vw;
    position: relative;
}
.banner2__contenedor__tarjeta img{
    width: 100%;
    height: 100%;
}
.banner2__contenedor__tarjeta__texto{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: clamp(4px,4vw,60px);
    background-color: var(--colorPrincipal);
    transition: all 0.4s linear;
    color: black;
}
.banner2__contenedor__tarjeta:hover{
    .banner2__contenedor__tarjeta__texto{
        opacity: 0.7;
    }
}
/*------------------------------ BANNER 3 -------------------------------*/
#banner3{
    padding-top: 5vw;
    padding-bottom: 5vw;
}
#banner32{
    padding-top: 5vw;
    padding-bottom: 5vw;
    text-align: center;
}
.banner32__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
}
.banner32__contenedor__tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 35vw;
    border-style: solid;
    box-shadow: 0px 0px 10px black;
}
.banner32__contenedor__tarjeta img{
    width: 8vw;
    border-radius: 5vw;
    border-style: solid;
    border-color: var(--colorPrincipal);
    border-width: 0.3vw;
    transition: all 0.5s linear;
}
.banner32__contenedor__tarjeta img:hover{
    width: 10vw;
    transition: all 0.5s linear;
}
.banner32__contenedor__tarjeta:hover{
    box-shadow: 0px 0px 10px  #FFB303;

}
.banner32__contenedor__tarjeta h2{
    color: white;
    margin-top:2vw;
}
.banner32__contenedor__tarjeta p{
    color: white;
}
.banner32_texto{
    width: 80%;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.banner3__contenedor{
    margin: 0 auto;   
    width: 80%;
    height: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position:relative;
    /* Recorta la imagen cuando aumenta */
    overflow: hidden;
}
.banner3__contenedor img{
    width: 100%;
    transform:scale(1);
    transition: all 0.5s linear;
    position: absolute;
}
.banner3__contenedor img:hover{
    transform: scale(1.1);
    transition: all 0.5s linear;
}
.banner3__contenedor__derecha{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    z-index: 150;
}
/*------------------------------ BANNER 4 -------------------------------*/
#banner4{
    padding-top: 10vw;
    padding-bottom: 5vw;
    text-align: center;
    height: 60vw;
}
#banner42{
    background-image: url(Imagenes/about_img.webp);
    background-size: cover;
    height: 36vw;
}
.banner42__texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.banner42__texto__tarjeta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2vw auto;
}
.banner42_texto_interior{
    display: flex;
    flex-direction: column;
}
.banner42__texto p{
    color: white;
}
.banner42_imagen{
    width: 5vw;
    margin-right: 3vw;
    transition: all 0.5s linear;
}
.banner42_imagen:hover{
    transform: scale(1.3);
    transition: all 0.5s linear;
}
.banner4__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.banner4__contenedor__tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw 0;
    width: 20vw;
    height: 32vw;
}
.contenedor_imagen_tarjeta{
    width: 18vw;
    height: 25vw;
    overflow: hidden;
}
.imagen_tarjeta{
    width: 100%;
    height: 100%;
    transition: all 0.5s linear;
}
.imagen_tarjeta:hover{
    transform:scale(1.1);
    transition: all 0.5s linear;
}
.estrellas_tarjeta{
    width: 10vw;
    margin-top: -3vw;
    margin-bottom: -3vw;
}
.textos_tarjeta{
    color: white;
    font-size: clamp(3px,1.2vw,40px);
}
.premio{
    box-shadow: 0px 0px 10px #FFB303;
}
/*------------------------------ BANNER 5 -------------------------------*/
#banner5{
    background-image: url(Imagenes/newsletter_img.webp);
    height: 35vw;
    /* PARALLAX */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner5__contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vw;
}
.reproductor{
    width: 4vw;
}
/*------------------------------ BANNER 6 -------------------------------*/
#banner6{
    padding-top: 5vw;
    padding-bottom: 5vw;
    text-align: center;
}
.banner6__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    gap: 1vw;
}
.banner6__contenedor__tarjeta{
    width: 30vw;
}
.banner6_imagen_tarjeta{
    width: 100%;
    height: 19vw;
    position:relative;
    overflow: hidden;
}
.banner6_imagen_tarjeta img{
    width: 100%;
    transform: scale(1);
    transition: all 0.5s linear;
    position: absolute;
    top:0;
    left: 0;
    z-index: 5;
}
.banner6_imagen_tarjeta img:hover{
    transform: scale(1.1);
    transition: all 0.5s linear;
    opacity:0.5;
    
}
.banner6_fecha{
    background-color: var(--colorPrincipal);
    font-size: clamp(2px,1vw,50px);
    font-weight: bold;
    width: 10vw;
    padding: 0.3vw;
    margin-top: -1vw;
    margin-left: 1.5vw;
    margin-bottom: 1vw;
    position: absolute;
    z-index: 6;
}
.banner6__contenedor__tarjeta h3{
    text-align: left;
    width: 80%;
    margin: 0 auto;
    margin-top: 2vw;
}
.banner6_descripcion{
    color: white;
    font-size: clamp(2px,1vw,50px);
    text-align: left;
    width: 80%;
    margin: 0 auto;
}
#corazon1{
    position: absolute;
    width: 2.5vw;
    background-color: var(--colorPrincipalOscuro);
    padding: 0.5vw;
    border-radius: 0.5vw;
    top: 1.5vw;
    left: 25vw;
    opacity: 0;
    transition: all 0.5s linear;
}
#corazon1:hover{
    background-color: var(--colorPrincipal);
    opacity: 1;
    transform: scale(1.2);
    transition: all 0.5s linear;
}
#corazon2{
    position: absolute;
    width: 2.5vw;
    background-color: var(--colorPrincipalOscuro);
    padding: 0.5vw;
    border-radius: 0.5vw;
    top: 1.5vw;
    left: 25vw;
    opacity: 0;
    transition: all 0.5s linear;
}
#corazon2:hover{
    background-color: var(--colorPrincipal);
    opacity: 1;
    transform: scale(1.2);
    transition: all 0.5s linear;
}
#corazon3{
    position: absolute;
    width: 2.5vw;
    background-color: var(--colorPrincipalOscuro);
    padding: 0.5vw;
    border-radius: 0.5vw;
    top: 1.5vw;
    left: 25vw;
    opacity: 0;
    transition: all 0.5s linear;
}
#corazon3:hover{
    background-color: var(--colorPrincipal);
    opacity: 1;
    transform: scale(1.2);
    transition: all 0.5s linear;
}
/*-------------------------------- FOOTER ---------------------------------*/
#footer{
    height: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#footer2{
    height: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.footer__contenedor__tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 15vw;
}
.footer__contenedor__tarjeta img{
    width: 10vw;
}
.footer__contenedor p{
    color: white;
}
/*------------------------------ BANNER 7 -------------------------------*/
#banner7{
    background-image: url(Imagenes/video_img.webp);
    height: 35vw;
    /* PARALLAX */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner7__contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vw;
}
.reproductor{
    width: 4vw;
}